extends layout

block content
  .row.full-height
    .col.s3.m3.l3#left-nav.full-height
      h1= title
      p Démonstration de NodeJS faite dans le cadre du cours de Soutien Technique au Cégep de Drummondville
      hr
      button.btn.modal-trigger(data-target='article-modal') Ajouter un article
    .col.s9.m9.l.full-height9#right-col
      header
        h2.center-align Articles
      #articles-container
        if articles
          each article in articles
            .card.horizontal
              .card-image
                img(src='https://yt3.ggpht.com/a-/AJLlDp3zgDAmfA9WB3z9cVMrdhFIRyCrFNDoGTM2-g=s900-mo-c-c0xffffffff-rj-k-no' width='100' height='190')
              .card-stacked
                .card-content
                  h4
                    a(href='/article/' + article._id)= article.titre
                  p= article.contenu
                .card-action
                  div
                    a(href='/article/' + article._id + '/edit') Modifier
                  form(action='/article/' + article._id + '/delete', method='POST')
                    button.btn Supprimer
        else
          h3 Aucun article à afficher

  +modal('Ajouter un article', 'article-modal')
    form.form-horizontal(method='POST' action='/article/store')
      .input-field
        i.prefix.fa.fa-title
        input.icon-prefix(type='text', placeholder='Titre', name='titre', id='titre', required, autofocus=true)
        label.icon-prefix(for='titre') Titre de l'article
      .input-field
        i.prefix.material-icons
        textarea.icon-prefix.materialize-textarea(type='text', placeholder='Contenu de l\'article', name='contenu', id='contenu')
        label.icon-prefix(for='contenu') Contenu de l'article
      .input-field
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary
            i.fa.fa-search
            | Ajouter
  
block javaScripts
  script(src='/js/main.js')
  
