doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')

    // 'Fonction' permettant de générer un 'modal' de materializecss
    mixin modal(title,id)
      .modal(id=id)
        .modal-content
          h3=title
          block
        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-red.btn-flat.close-btn(href="#!") Fermer

    block feuillesDeStyle

  body
    block content

    // Compiled and minified JavaScript
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    block javaScripts    
