extends ../layout

block content
  .row.full-height
    .col.s3.m3.l3#left-nav.full-height
      h1= title
      p Démonstration de NodeJS faite dans le cadre du cours de Soutien Technique au Cégep de Drummondville
      hr
      button.btn.modal-trigger(data-target='article-modal') Ajouter un article
    .col.s9.m9.l.full-height9#right-col
      header
        h2.center-align Articles
      #articles-container
        form.form-horizontal(method='POST' action='/article/' + article._id + '/update')
          .input-field
            i.prefix.fa.fa-title
            input.icon-prefix(type='text', placeholder='Titre', name='titre', id='titre', value= article.titre, required, autofocus=true)
            label.icon-prefix(for='titre') Titre de l'article
          .input-field
            i.prefix.material-icons
            textarea.icon-prefix.materialize-textarea(type='text', placeholder='Contenu de l\'article', name='contenu', id='contenu')= article.contenu
            label.icon-prefix(for='contenu') Contenu de l'article
          .input-field
            .col-sm-offset-2.col-sm-8
              button.btn.btn-primary
                i.fa.fa-search
                | Modifier
