extends layout

block content
  .row.full-height
    .col.s3.m3.l3#left-nav.full-height
      h1= title
      p Démonstration de NodeJS faite dans le cadre du cours de Soutien Technique au Cégep de Drummondville
      hr
      a.waves-effect.waves-light.btn(href="/") Retour
    .col.s9.m9.l.full-height9#right-col
      header
        h2.center-align Articles
      #articles-container
        h1= article.titre
        p= article.contenu

block javaScripts
  script(src='/js/main.js')
