#left-nav {
  background-color: #333;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: #689F63;
  }
}

#articles-container {
  margin-left: 50px;
  margin-right: 50px;
}

header {
  background-color: #555;
  color: white;
  padding: 8px;
  h2 {
    margin: 0px !important;
  }
}

#editBtn {
  display: block;
}

#right-col {
  padding: 0px;
  margin: 0px;
}

.full-height {
  min-height: 100vh !important;
  margin: 0px !important;
}

body {
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

.card {
  a {
    color: #689F63 !important;
    &.delete-btn:hover {
      color: red !important;
    }
  }
}
